.home {
  width: 100%;
  height: 100%;
  display: grid;
  grid-template-columns: 30% 36% 6% 28%;
  grid-template-rows: 1fr;
  align-items: flex-start;
  padding: 10px 2vw;
  margin-top: 80px;
}

.home-left {
  height: 100vh;
  max-width: 300px;
  width: 300px;
  background: #f8f8f8;
  position: sticky;
  top: 70px;
  overflow-y: scroll;
  padding-right: 20px;
}

.home-left-profile-link {
  display: flex;
  align-items: center;
  cursor: pointer;
}

.home-left-profile-link img {
  width: 60px;
  height: 60px;
  object-fit: cover;
  margin-right: 10px;
}

.home-center {
  height: 100%;
}

.home-right {
  height: 100%;
}
