.home-container {
  width: 100vw;
  display: flex;
  justify-content: space-between;
  align-items: flex-start !important;
  padding-inline: 1vw;
  gap: 2vw;
}

.home-left,
.home-center,
.home-right {
  width: 100%;
}

.home-left {
  flex-basis: 25%;
  max-width: 300px;
  position: sticky;
  top: 80px;
  right: 0;
  overflow-y: scroll !important;
}

.home-left-profile-link {
  display: flex;
  align-items: center;
  gap: 10px;
}

.home-left-profile-link img {
  max-width: 50px;
  max-height: 50px;
}

.home-center {
  flex-basis: 50%;
}

.home-right {
  flex-basis: 25%;
}

/* Tablet Media query */
@media screen and (max-width: 1150px) {
  .home-left {
    display: none;
  }

  .home-center {
    flex-basis: 70%;
  }

  .home-right {
    flex-basis: 30%;
  }
}

/* Mobile media query */
@media screen and (max-width: 920px) {
  .home-container {
    padding-inline: 2vw;
  }
  .home-right {
    display: none;
  }

  .home-center {
    flex-basis: 100%;
  }
}
