.friendsDiv {
  text-align: center;
}

.friends {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  gap: 10px;
  margin-block: 10px;
}

.friend {
  width: 80px;
  height: 80px;
  border-radius: var(--inputField-radius);
  cursor: pointer;
  overflow: hidden;
}

.friend img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
